<%- include("../partials/header") %>
    <div class="row">
        <h1 style="text-align: center">Editar <%= olimpiada.nombre %></h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/olimpiadas/<%= olimpiada._id %>/edit?_method=PUT" method="POST">
                <div class="form-group">
                    <label>Nombre</label>
                    <input class="form-control" type="text" name="nombre" placeholder="Nombre" value="<%= olimpiada.nombre%>">
                </div>
                <div class="form-group">
                    <label> Descripción </label>
                    <textarea class="form-control" name="descripcion" cols="30" rows="10"><%= olimpiada.descripcion %></textarea>
                </div>
                <div class="form-group">
                    <label>Requisitos. <a href="#">Click aquí</a> para saber como escribir correctamente los requisitos</label>
                    <textarea class="form-control" type="text" name="requisitos" cols="30" rows="5"><%= requisitos %></textarea>
                </div>
                <div class="form-group">
                    <label>Imagen. Por favor, inserta el link de la imagen que se colocará en la portada del evento.</label>
                    <input class="form-control" type="text" name="imagen" placeholder="Imagen" value="<%= olimpiada.imagen%>">
                </div>
                <div class="form-group">
                    <label> Inserta la fecha del evento. </label>
                    <input class="form-control" type="date" name="fecha" placeholder="Fecha" value="<%= olimpiada.fecha%>">
                </div>
                <div class="form-group">
                    <label> ¿La covocatoria está abierta? </label> <br>
                    <% if(olimpiada.isOpen) { %>
                        <input type="radio" name="open" checked value="Sí"> Sí<br>
                        <input type="radio" name="open" value="No"> No
                    <% } else { %>
                        <input type="radio" name="open" value="Sí"> Sí<br>
                        <input type="radio" name="open" checked value="No"> No
                    <% } %>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">¡Listo!</button>
                </div>
            </form>
        </div>
    </div>

<%- include("../partials/footer") %>


