<%- include('../partials/header') %>

<div class="container">
    <div class="jumbotron">
        <h1>Olimpiadas</h1>
        <p>Aprende, conoce, comparte y gana premios increíbles, ¡Conviertete en uno de los mejores!</p>
        <% if(currentUser && currentUser.isCommunity) { %>
        <a href="/olimpiadas/new" class="btn btn-primary">Crea una!</a>
        <% } %>
    </div>

    <div class="row">
        <% olimpiadas.forEach(function(olimpiada) { %>
            <div class="col-xs-6 col-md-3">
                <div class="thumbnail">
                    <img src="<%= olimpiada.imagen %>">
                    <div class="caption">
                        <p><strong> <%= olimpiada.nombre %> </strong></p>
                        <p> <%= olimpiada.descripcion.substring(0,100) %> </p>   
                        <p class="encargado">-<%= olimpiada.encargado.username %></p>                 
                        <a href="/olimpiadas/<%= olimpiada._id %>" class="btn btn-primary">Leer más</a>
                    </div>        
                </div>
            </div>
        <% }); %>    
    </div>
</div>

<%- include('../partials/footer') %>
